@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Oswald&display=swap');

body {
  background-color: #8b0000;
}

h2 {
  font-family: 'Bangers', sans-serif;
  text-align: center;
  font-size: 2rem;
  color: white;
}

@font-face {
  font-family: 'Ninja Naruto V1';
  src: url('./fonts/NinjanarutoV1.ttf');
}

.app-title {
  font-family: 'Ninja Naruto V1', cursive;
  text-align: center;
  color: #ff6600;
}
